@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --backgroud-rgb: 255, 255, 255;
}

body {
   color: rgb(var(--foreground-rgb));
   background: rgb(var(--backgroud-rgb))
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.text-link {
   @apply text-[#0654BA] underline;
}