@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --backgroud-rgb: 255, 255, 255;
}

html {
   scroll-behavior: smooth;
}

body {
   color: rgb(var(--foreground-rgb));
   background: rgb(var(--backgroud-rgb))
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.text-link {
   @apply text-[#0654BA] underline;
}

input[type="checkbox"] {
   background: #000000;
}

/* Swiper */
.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Loader  */
.loader {
   width: 50px;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 8px solid;
   animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
   }

   12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
   }

   62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
   }

   75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
   }

   100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
   }
}

@keyframes l20-2 {
   0% {
      transform: scaleY(1) rotate(0deg)
   }

   49.99% {
      transform: scaleY(1) rotate(135deg)
   }

   50% {
      transform: scaleY(-1) rotate(0deg)
   }

   100% {
      transform: scaleY(-1) rotate(-135deg)
   }
}